.form-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.form-container > div:first-child {
  background-color: #aff4c5;
}
.form-container > div:nth-child(2) {
  background-color: #aedfea;
}
.form-container > div:last-child {
  background-color: #e8c3ab;
}

.checkMark {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-down 500ms ease-out forwards;
}

.checkMark img {
  max-width: 50%;
}
.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.slide-down-animation {
  animation: slide-down 500ms ease-out forwards;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
