.form-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.form-container > div:first-child {
  background-color: #aff4c5;
}
.form-container > div:nth-child(2) {
  background-color: #aedfea;
}
.form-container > div:last-child {
  background-color: #e8c3ab;
}